.main-welcome {
    padding:300px 10% 0px;
    height:815px;
}

.main-section {
    padding:80px 18%;
    min-height:800px
}


.main-background {
    background: url('Files/obon1_light2.jpg') no-repeat;
    background-size: cover;
}

.card-right {
    margin-bottom:85px;
    text-align:right;
}

.card-left {
    margin-bottom:85px;
}

.orange {
    background-color: #ffca80;
}

.text-orange{
    color: #ff9500;
}

button.orange {
    margin:4px 0px;
}

button.orange:hover{
    background-color: #ffb347!important;
}

.w3-hover-text-grey:hover{
    background-color: transparent!important;
}

.w3-button:hover{
    text-decoration: none;
}
.w3-ul.orange{
    display:inline-block
}

.w3-ul.orange li{
    border-bottom:1px solid #666666
}

.w3-ul li:last-child{border-bottom:none}

h1 {
    margin-bottom: 35px;
}

h4{
    font-weight:bold;
}

a:link {
    text-decoration: none;
}

a:hover{
    color:#ffb347
}