.main-welcome {
    padding:300px 72px 0px;
    height:775px;
}

.main-section {
    padding:72px 20%;
    min-height:775px;
}

.main-background {
    background: url('Files/obon1_light2.jpg') no-repeat;
    background-size: cover;
    min-height: 750px;
}

.card-right {
    margin-bottom:75px;
    text-align:right;
}

.card-left {
    margin-bottom:75px;
}

.orange {
    background-color: rgba(258, 198, 122, 1);
}

button.orange {
    margin:4px 0px;
}

button.orange:hover{
    background-color: rgba(255, 179, 71, 1)!important;
}

.w3-hover-text-grey:hover{
    background-color: transparent!important;
}

.w3-button:hover{
    text-decoration: none;
}

h1 {
    margin-bottom: 35px;
}

a:link {
    text-decoration: none;
}

a:hover{
    color:#757575;
}