.main-welcome {
    padding:250px 96px 48px;
    height:775px;
}

.main-section {
    padding:96px;
    height:775px;
}

.main-background {
    background: url('Files/obon1_light.jpg') no-repeat;
    background-size: 150%;
    height: 775px;
    background-position: 0, 0;
    /*340 beach, 48 obon*/
}